body {
  /* margin-top: 80px; */
  /* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  /* position: absolute; */
}

/* Containers */

.container-fluid{
  padding: 3% 7%;
}

.ip-img {
  position: relative;
  padding: 2% 0;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.meet {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navbar Section */
.navbar {
  /* padding: 0 0 4.5rem 0; */
  padding-bottom: 3%;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone {
  width: 40%;
  transform: rotate(25deg);
  right: 20%;
  position: absolute;
  /* z-index: -1; */
}

/* Menu Items */
#features {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 1;
  /* padding: 5%; */
  padding: 1% 0 2%;
}

.menu-txt {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.menu-p {
  margin: auto;
  color: #8f8f8f;
  text-align: center;
  padding: 5%;
}

.fa-solid-c {
  color: #ef8172;
  width: 100%;
  height: auto;
  margin: 3rem auto;
  text-align: center;
}

.fa-solid-c:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  padding: 5%;
  margin: 2%;
  text-align: center;
  color: white;
  background-color: #ef8172;
  /* position:relative; */
}

#testimonialCarousel {
  /* position: relative; */
  background-color: #ef8172;
}

.testi {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.testi-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
  position: relative;
  width: 100%;
}

.press-img {
  width: 60%;
  margin: 20px 20px 50px;
}

/* Pricing Element */
li {
  color: #8f8f8f;
}

#pricing {
  /* padding: 100px; */
  padding: 5% 0 2% 0;
  position: relative;
  width: 100%;
}

.blank {
  color: white;
}

#cta {
  /* position: absolute; */
  background-color: #ff4c68;
  color: white;
  text-align: center;
padding: 5% 0 2% 0;
}

.ctah3 {
  font-family: Montserrat;
  font-weight:900;
  font-size: 1.5rem;
}

#footer {
  background-color: white;
  color: #8f8f8f;
  text-align: center;
  padding: 5% 0 3%;
}

.social-media {
  color: black;
}

.fa-sm {
  padding: 10px;
}

@media (max-width: 1000px) {

.colored-section {
  text-align: center;
}

.iphone {
  width: 30%;
  transform: rotate(0deg);
  position: static;
}

.meet {
  text-align: center;

}

}
